[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
beanie = "*"
pydantic = "*"
pydantic-settings = "*"
fastapi-jwt = "*"
python-decouple = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.12"
